*{font-family: Arial, Helvetica, sans-serif;}

html, body{
    margin: 0;
    height: 100%;
}

header{
    display: table;
    width: 100%;
    height: 40px;
    text-align: center;
    color: #fff;
    background-color: green;
    margin-bottom: 20px;
    font-size: 15px;
    
}

.container{
    width: 90%;
    margin: 0 auto;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow:row wrap;
    flex-flow: row wrap;
}

.card{
    border: 1px solid #86a5ba;
    margin: 15px;

    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;


    -webkit-flex-flow: column wrap;
    flex-flow: column wrap;

    flex-basis: 45%;
}

.card h3{
    width: 50%;
    text-align: center;
    background-color: blue;
    margin: 15px auto;
    color: #fff;
    padding: 15px;
    border: 2px solid #000;
    border-radius: 15px;
}

.card ul li{
    font-size: 25px;
    line-height: 35px;
    padding: 10px;
    font-weight: bold;
}

a{
    width: 15%;
    text-align: center;
    padding: 15px;
    margin: 10px auto;
    background-color: blue;
    color: #fff;
    text-decoration: none;
    border: 2px solid #000;
    border-radius: 10px;
    transition: 2s ease-in-out;
}

a:hover{
    background-color: red;
    color:#000
}


 .card div{
    flex-grow: 1;
    margin-bottom: 10px;
}

@media(max-width:727px){
    .card{
        flex-basis: 100%;
        margin: 15px 0;
    }
}